<%- include('partials/header') %>

<div class="container">
  <h1 style="text-align: center">Sign Up!</h1>
  <div style="width: 30%; margin: 25px auto">
    <form action="/register" method="post">
      <div class="form-group">
        <label for="username" class="sr-only">User Name:</label>
        <input class="form-control" type="text" name="username" placeholder="User Name" id="username" required>
      </div>
      <div class="form-group">
        <label for="firstName" class="sr-only">First Name:</label>
        <input class="form-control" type="text" name="firstName" placeholder="First Name" id="firstName" required>
      </div>
      <div class="form-group">
        <label for="lastName" class="sr-only">Last Name:</label>
        <input class="form-control" type="text" name="lastName" placeholder="Last Name" id="lastName" required>
      </div>
      <div class="form-group">
        <label for="email" class="sr-only">Email:</label>
        <input class="form-control" type="email" name="email" placeholder="mick@mail.com" id="email" required>
      </div>
      <div class="form-group">
        <label for="password" class="sr-only">Password:</label>
        <input class="form-control" type="password" name="password" placeholder="password" id="password" required>
      </div>
      <div class="form-group">
        <label for="avatar" class="sr-only">Avatar:</label>
        <input class="form-control" type="text" name="avatar" placeholder="avatar url" id="avatar">
      </div>
      <div class="form-group">
        <label for="adminCode" class="sr-only">Admin Code:</label>
        <input class="form-control" type="text" name="adminCode" placeholder="admin Code" id="adminCode">
      </div>
      <div class="form-group">
        <button class="btn btn-lg btn-primary btn-block">Sign Up</button>
      </div>
    </form>
    <a href="/campgrounds">Go Back</a>
  </div>
</div>



<%- include('partials/footer') %>
