.active, .nav-item:hover {
  background-color: rgba(0,0,0,0.1);
  border-radius: 5px
}

.img-thumbnail img {
  width: 100%
}

.img-thumbnail {
  padding: 0
}

.img-thumbnail .caption-full {
  padding: 9px
}

.delete-form {
  display: inline
}